<form action="/" method="post">
  <label for="newRestaurant">Restaurant name</label>
  <input id="newRestaurant" name="newRestaurant" type="text">
  <button type="submit" class="btn btn-success">Add Restaurant</button>
</form>
